{{ define "main" }}
  {{ range .Paginator.Pages }}
  <div style="display: flex;">

    <div style="padding-right: 1.5 rem;">
      <img src="{{ .Params.cover }}" style="max-width: 90px; border-radius: 10%; ">
    </div>      
    <article class="gdoc-post" style="align-self: stretch;">
      <header class="gdoc-post__header">
        <h1 class="gdoc-post__title">
          {{ partial "utils/title" . }}
        </h1>
      </header>

      <section class="gdoc-markdown">
        {{ .Content }}
      </section>

    </article>
  </div>
  {{ end }}
  {{ partial "pagination.html" . }}
{{ end }}

{{ define "post-tag" }}
  <span class="gdoc-post__tag">
    <span class="gdoc-button">
      <a
        class="gdoc-button__link"
        href="{{ .page.RelPermalink }}"
        title="{{ i18n "posts_tagged_with" .name }}"
      >
        {{ .name }}
      </a>
    </span>
  </span>
{{ end }}
